name: argocd
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 2.11.2
    - 2.11.3
    - 2.11.4
    - 2.11.5
    - 2.11.6
    - 2.11.7
    - 2.12.0
    - 2.12.1
    - 2.12.2
    - 2.12.3
    - 2.12.4
    - 2.12.5
    - 2.12.6
    - 2.13.0
    - 2.13.1
    - 2.13.2
    - 2.13.3
    - 2.13.4
    - 2.14.0
    - 2.14.1
    - 2.14.2
    - 2.14.5
    - 2.14.7
    - 2.14.9
    - 2.14.10
    - 2.14.11
    - 3.0.0
    - 3.0.3
    - 3.0.4
    - 3.0.5
    - 3.0.6
    - 3.0.11
    - 3.0.12
    - 3.1.0
    - 3.1.1
    - 3.1.3
    - 3.1.4
    - 3.1.5
    - 3.1.6
    - 3.1.7
    - 3.1.8
    - 3.1.9
    - 3.2.0
    - 3.2.1
    - 3.2.2
    - 3.2.3
    - 3.2.4
    - 3.2.5
    - 3.2.6
    - 3.3.0
homepage: https://github.com/argoproj/argo-cd
summary: continuous delivery tool for Kubernetes
description: Argo CD is a declarative, GitOps continuous delivery tool for Kubernetes.
fetch: https://github.com/argoproj/argo-cd/releases/download/v{{version}}/argocd-linux-{{arch}}
install:
  - argocd-linux-{{arch}}:/usr/bin/argocd
