workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

default:
  image: upciti/wakemebot:main
  tags: ["wakemebot"]

stages:
  - update
  - build
  - test
  - push
  - publish
  - pages

.no_schedule:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - changes:
        - ops2deb-*.yml
      when: on_success

.prod_no_schedule:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - ops2deb-*.yml
      when: on_success

.parallel_component:
  parallel:
    matrix:
      - component: dev
      - component: devops
      - component: secops
      - component: terminal

.parallel_distro:
  parallel:
    matrix:
      - DISTRO: ubuntu
        VERSION: ["latest", "rolling", "21.04", "18.04"]
      - DISTRO: debian
        VERSION:
          ["latest", "bookworm", "bookworm-slim", "bullseye", "bullseye-slim", "buster", "buster-slim"]


# Anchors
.enable_ssh: &enable_ssh
  - eval $(ssh-agent -s)
  - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh || echo
  - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

.git_configure: &git_configure
  - git config --replace-all user.name $GITLAB_USER_NAME
  - git config --replace-all user.email $GITLAB_USER_EMAIL
  - git config push.default simple

.git_commit_push: &git_commit_push
  - git remote set-url origin git@github.com:upciti/wakemeops.git
  - branch="chore/update-packages-$(date '+%Y%m%d%H%M%S')"
  - git checkout -b ${branch}
  - git add ops2deb-*.yml
  - >
    echo "chore(bot): update packages" > title.log
  - cat ops2deb-*.log >> body.log || true
  - git commit -m "$(cat title.log)" -m "$(cat body.log)"
  - git remote -v
  - cat .git/config
  - git push -u origin HEAD
  - gh pr create --title "$(cat title.log)" --body "$(cat body.log)"
  - gh pr merge --auto --rebase --delete-branch

.install_dependencies: &install_dependencies
  - apt-get update
  - apt-get install -y ${APT_DEPENDENCIES}

update_blueprints:
  stage: update
  before_script:
    - *enable_ssh
    - *git_configure
  script:
    - make update
    - git update-index -q --really-refresh
    - if git diff-index HEAD --quiet; then exit 0; fi # exit if no changes
    - *git_commit_push
  variables:
    GIT_STRATEGY: clone
    GITLAB_USER_NAME: "wakemebot"
    GITLAB_USER_EMAIL: "wakemebot@upciti.com"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $BUILD_CONTAINER == "0"'


generate_packages:
  stage: build
  extends:
    - .no_schedule
    - .parallel_component
  script:
    - make generate-${component}
    - make build-${component}
  artifacts:
    paths:
      - build/**/*deb
    expire_in: 2 days

test_packages:
  stage: test
  image: wakemeops/${DISTRO}:${VERSION}
  extends:
    - .no_schedule
    - .parallel_distro
  before_script:
    - *install_dependencies
    - make install-packages
  script:
    - make check-packages
  variables:
    APT_DEPENDENCIES: "make"

push_packages:
  stage: push
  extends:
    - .prod_no_schedule
    - .parallel_component
  script:
    - make push-${component}

publish_s3:
  stage: publish
  extends: .prod_no_schedule
  script:
    - make publish

pages:
  stage: pages
  script:
    - make docs
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - docs/**/*
        - mkdocs.yml
  tags: []
  needs: []

buildah:
  image: quay.io/buildah/stable:v1.23.1
  extends: .parallel_distro
  stage: publish
  tags: ["docker"]
  retry: 1
  before_script:
    - IMAGE_NAME="wakemeops/${DISTRO}:${VERSION}"
    - buildah login -u ${REGISTRY_USER} -p ${REGISTRY_TOKEN} docker.io
  script:
    - >
      buildah bud \
        -f ./Dockerfile \
        -t ${IMAGE_NAME} \
        --build-arg IMAGE=${DISTRO} \
        --build-arg TAG=${VERSION} \
        --label org.wakemeops.maintainers="WakeMeOps <wakemeops.com>" \
        --label org.wakemeops.base_image="docker.io/${DISTRO}:${VERSION}" \
        --label org.wakemeops.commit="${CI_COMMIT_SHA}" \
        .
    - buildah push --authfile /run/containers/0/auth.json ${IMAGE_NAME}
  needs: []
  variables:
    REGISTRY_USER: "wakemeops"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != "schedule"'
      changes:
        - Dockerfile
        - .gitlab-ci.yml
        - assets/**/*
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $BUILD_CONTAINER == "1"'
