name: carvel-ytt
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 0.39.0
    - 0.40.0
    - 0.37.1
    - 0.40.1
    - 0.41.0
    - 0.41.1
    - 0.42.0
    - 0.43.0
    - 0.44.0
    - 0.44.1
    - 0.44.3
    - 0.45.0
    - 0.45.1
    - 0.45.2
    - 0.45.3
    - 0.45.4
    - 0.45.5
    - 0.45.6
    - 0.46.0
    - 0.46.2
    - 0.47.0
    - 0.48.0
    - 0.49.0
    - 0.49.1
    - 0.50.0
homepage: https://carvel.dev/ytt/
summary: YAML templating tool that works on YAML structure instead of text
description: |-
  All your YAML shaping in one tool
  Template and patch as needed to easily make your configuration reusable and
  extensible.
  Works with your own and third-party YAML configuration.
fetch: https://github.com/vmware-tanzu/carvel-ytt/releases/download/v{{version}}/ytt-linux-{{goarch}}
install:
  - ytt-linux-{{goarch}}:/usr/bin/ytt
