name: carvel-kapp
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 0.45.0
    - 0.46.0
    - 0.47.0
    - 0.48.0
    - 0.49.0
    - 0.50.0
    - 0.51.0
    - 0.52.0
    - 0.53.0
    - 0.54.0
    - 0.54.1
    - 0.54.2
    - 0.54.3
    - 0.55.0
    - 0.55.1
    - 0.56.0
    - 0.57.0
    - 0.57.1
    - 0.58.0
    - 0.59.0
    - 0.59.1
    - 0.59.2
    - 0.60.0
    - 0.62.0
    - 0.62.1
    - 0.63.1
    - 0.63.2
    - 0.63.3
    - 0.64.0
homepage: https://carvel.dev/kapp/
summary: simple deployment tool focused on the concept of "Kubernetes application"
description: |-
  Take control of your Kubernetes resources.
  Deploy and view groups of Kubernetes resources as "applications".
  Apply changes safely and predictably, watching resources as they converge.
fetch: https://github.com/vmware-tanzu/carvel-kapp/releases/download/v{{version}}/kapp-linux-{{goarch}}
install:
  - kapp-linux-{{goarch}}:/usr/bin/kapp
