- name: scw
  version: 2.3.1
  homepage: https://github.com/scaleway/scaleway-cli
  summary: command-line interface for Scaleway
  description: |-
    Scaleway CLI is a tool to help you pilot your Scaleway infrastructure
    directly from your terminal.
  fetch: 
    https://github.com/scaleway/scaleway-cli/releases/download/v{{version}}/scw-{{version}}-linux-x86_64
  script:
    - install -m 755 scw-{{version}}-linux-x86_64 {{src}}/usr/bin/scw

- name: scw
  version: 2.4.0
  revision: "3"
  homepage: https://github.com/scaleway/scaleway-cli
  summary: command-line interface for Scaleway
  description: |-
    Scaleway CLI is a tool to help you pilot your Scaleway infrastructure
    directly from your terminal.
  fetch: 
    https://github.com/scaleway/scaleway-cli/releases/download/v{{version}}/scw-{{version}}-linux-x86_64
  script:
    - mv scw-{{version}}-linux-x86_64 {{src}}/usr/bin/scw

- name: scw
  matrix:
    architectures:
      - amd64
      - arm64
    versions:
      - 2.5.5
      - 2.5.6
      - 2.6.0
      - 2.6.1
      - 2.6.2
      - 2.7.0
      - 2.8.0
      - 2.10.0
      - 2.11.0
      - 2.11.1
      - 2.12.0
      - 2.13.0
      - 2.14.0
      - 2.15.0
      - 2.16.0
      - 2.16.1
      - 2.17.0
      - 2.18.0
      - 2.19.0
      - 2.20.0
      - 2.21.0
      - 2.22.0
      - 2.23.0
      - 2.24.0
      - 2.25.0
      - 2.26.0
      - 2.27.0
      - 2.28.0
      - 2.29.0
      - 2.30.0
      - 2.31.0
      - 2.32.1
      - 2.33.0
      - 2.34.0
      - 2.35.0
      - 2.36.0
      - 2.37.0
      - 2.38.0
  homepage: https://github.com/scaleway/scaleway-cli
  summary: command-line interface for Scaleway
  description: |-
    Scaleway CLI is a tool to help you pilot your Scaleway infrastructure
    directly from your terminal.
  fetch: 
    https://github.com/scaleway/scaleway-cli/releases/download/v{{version}}/scaleway-cli_{{version}}_linux_{{goarch}}
  install:
    - scaleway-cli_{{version}}_linux_{{goarch}}:/usr/bin/scw
