- name: istioctl
  matrix:
    architectures:
      - arm64
      - armhf
      - amd64
    versions:
      - 1.12.2
      - 1.11.6
  homepage: https://istio.io
  summary: command-line interface for Istio
  description: Istio is an open platform to connect, manage, and secure microservices.
  fetch:
    url: https://github.com/istio/istio/releases/download/{{version}}/istio-{{version}}-linux-{{target}}.tar.gz
    targets:
      armhf: armv7
  script:
    - install -d {{src}}/opt/istio
    - mv * {{src}}/opt/istio/
    - ln -s /opt/istio/istio-{{version}}/bin/istioctl {{src}}/usr/bin/istioctl

- name: istioctl
  version: 1.12.2
  homepage: https://istio.io
  summary: command-line interface for Istio
  description: Istio is an open platform to connect, manage, and secure microservices.
  fetch: https://github.com/istio/istio/releases/download/{{version}}/istio-{{version}}-linux-amd64.tar.gz
  script:
    - install -d {{src}}/opt/istio
    - mv * {{src}}/opt/istio/
    - ln -s /opt/istio/istio-{{version}}/bin/istioctl {{src}}/usr/bin/istioctl

- name: istioctl
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.12.3
      - 1.13.0
      - 1.13.1
  homepage: https://istio.io
  summary: command-line interface for Istio
  description: Istio is an open platform to connect, manage, and secure microservices.
  fetch:
    url: https://github.com/istio/istio/releases/download/{{version}}/istio-{{version}}-linux-{{target}}.tar.gz
    targets:
      armhf: armv7
  script:
    - install -d {{src}}/opt/istio
    - mv * {{src}}/opt/istio/
    - ln -s /opt/istio/istio-{{version}}/bin/istioctl {{src}}/usr/bin/istioctl

- name: istioctl
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
  version: 1.13.2
  revision: "2"
  homepage: https://istio.io
  summary: command-line interface for Istio
  description: Istio is an open platform to connect, manage, and secure microservices.
  fetch:
    url: https://github.com/istio/istio/releases/download/{{version}}/istio-{{version}}-linux-{{target}}.tar.gz
    targets:
      armhf: armv7
  install:
    - istio-{{version}}:/opt/istio/
  script:
    - ln -s /opt/istio/bin/istioctl {{src}}/usr/bin/istioctl

- name: istioctl
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.13.3
      - 1.13.4
      - 1.14.0
      - 1.14.1
      - 1.14.3
      - 1.15.0
      - 1.15.1
      - 1.15.2
      - 1.15.3
      - 1.16.0
      - 1.16.1
      - 1.16.2
      - 1.17.0
      - 1.17.1
      - 1.17.2
      - 1.17.3
      - 1.18.0
      - 1.18.1
      - 1.18.2
      - 1.19.0
      - 1.19.1
      - 1.19.3
      - 1.19.4
      - 1.20.0
      - 1.20.1
      - 1.20.2
      - 1.20.3
      - 1.21.0
      - 1.21.1
      - 1.21.2
      - 1.22.0
      - 1.22.1
      - 1.22.2
      - 1.22.3
      - 1.23.0
      - 1.23.1
      - 1.23.2
      - 1.23.3
      - 1.24.0
      - 1.24.1
      - 1.24.2
      - 1.24.3
      - 1.25.0
      - 1.25.1
      - 1.25.2
      - 1.26.0
  homepage: https://istio.io
  summary: command-line interface for Istio
  description: Istio is an open platform to connect, manage, and secure microservices.
  fetch:
    url: https://github.com/istio/istio/releases/download/{{version}}/istio-{{version}}-linux-{{target}}.tar.gz
    targets:
      armhf: armv7
  install:
    - istio-{{version}}:/opt/istio/
  script:
    - ln -s /opt/istio/bin/istioctl {{src}}/usr/bin/istioctl
