name: kubelogin
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 0.0.27
    - 0.0.28
    - 0.0.29
    - 0.0.30
    - 0.0.31
    - 0.0.32
    - 0.0.33
    - 0.0.34
    - 0.1.0
    - 0.1.1
    - 0.1.2
    - 0.1.3
    - 0.1.4
    - 0.1.5
    - 0.1.6
    - 0.1.7
    - 0.2.2
    - 0.2.7
    - 0.2.8
    - 0.2.9
    - 0.2.10
    - 0.2.11
    - 0.2.12
    - 0.2.13
homepage: https://github.com/Azure/kubelogin
summary: Kubernetes credential (exec) plugin implementing azure authentication
description: |-
  This plugin provides features that are not available in kubectl.
  In Azure Kubernetes Service since k8s version 1.24, this plugin is necessary to
  query the kubernetes api in clusters with Azure Active Directory
  authentication.
fetch: https://github.com/Azure/kubelogin/releases/download/v{{version}}/kubelogin-linux-{{goarch}}.zip
install:
  - bin/linux_{{goarch}}/kubelogin:/usr/bin/kubelogin
