- name: linkerd
  version: 21.10.3
  revision: "3"
  homepage: https://linkerd.io
  summary: ultralight service mesh for Kubernetes
  description: |-
    Linkerd is an ultralight, security-first service mesh for Kubernetes.
    Linkerd adds critical security, observability, and reliability features
    to your Kubernetes stack with no code change required.
  fetch: https://github.com/linkerd/linkerd2/releases/download/edge-{{version}}/linkerd2-cli-edge-{{version}}-linux-amd64
  script:
    - mv linkerd2-cli-edge-{{version}}-linux-amd64 {{src}}/usr/bin/linkerd

- name: linkerd
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 22.9.2
      - 22.10.1
      - 22.10.2
      - 22.10.3
      - 22.11.1
      - 22.11.2
      - 22.11.3
      - 22.12.1
      - 23.3.3
      - 23.3.4
      - 23.4.1
      - 23.4.2
      - 23.4.3
      - 23.5.1
      - 23.5.2
      - 23.5.3
      - 23.6.1
      - 23.6.2
      - 23.6.3
      - 23.7.1
      - 23.7.2
      - 23.7.3
      - 23.8.1
      - 23.8.2
      - 23.8.3
      - 23.9.1
      - 23.9.2
      - 23.9.3
      - 23.9.4
      - 23.10.1
      - 23.10.2
      - 23.10.3
      - 23.10.4
      - 23.11.1
      - 23.11.2
      - 23.11.3
      - 23.11.4
      - 23.12.1
      - 23.12.2
      - 23.12.3
      - 23.12.4
      - 25.4.1
      - 25.4.2
      - 25.4.4
      - 25.5.1
      - 25.5.4
      - 25.5.5
      - 25.6.1
      - 25.6.2
      - 25.6.3
  homepage: https://linkerd.io
  summary: ultralight service mesh for Kubernetes
  description: |-
    Linkerd is an ultralight, security-first service mesh for Kubernetes.
    Linkerd adds critical security, observability, and reliability features
    to your Kubernetes stack with no code change required.
  fetch: https://github.com/linkerd/linkerd2/releases/download/edge-{{version}}/linkerd2-cli-edge-{{version}}-linux-{{goarch}}
  install:
    - linkerd2-cli-edge-{{version}}-linux-{{goarch}}:/usr/bin/linkerd
