- name: kind
  version: 0.11.1
  revision: "3"
  homepage: https://kind.sigs.k8s.io
  summary: deploy Kubernetes cluster in Docker
  description: |-
    kind is a tool for running local Kubernetes clusters using Docker container
    "nodes". kind was primarily designed for testing Kubernetes itself, but may be
    used for local development or CI.
  fetch: https://github.com/kubernetes-sigs/kind/releases/download/v{{version}}/kind-linux-amd64
  script:
    - mv kind-linux-amd64 {{src}}/usr/bin/kind

- name: kind
  version: 0.11.1
  revision: "3"
  architecture: arm64
  homepage: https://kind.sigs.k8s.io
  summary: deploy Kubernetes cluster in Docker
  description: |-
    kind is a tool for running local Kubernetes clusters using Docker container
    "nodes". kind was primarily designed for testing Kubernetes itself, but may be
    used for local development or CI.
  fetch: https://github.com/kubernetes-sigs/kind/releases/download/v{{version}}/kind-linux-{{goarch}}
  script:
    - mv kind-linux-{{goarch}} {{src}}/usr/bin/kind

- name: kind
  matrix:
    architectures:
      - amd64
      - arm64
  version: 0.12.0
  homepage: https://kind.sigs.k8s.io
  summary: deploy Kubernetes cluster in Docker
  description: |-
    kind is a tool for running local Kubernetes clusters using Docker container
    "nodes". kind was primarily designed for testing Kubernetes itself, but may be
    used for local development or CI.
  fetch: https://github.com/kubernetes-sigs/kind/releases/download/v{{version}}/kind-linux-{{goarch}}
  script:
    - mv kind-linux-{{goarch}} {{src}}/usr/bin/kind

- name: kind
  matrix:
    architectures:
      - amd64
      - arm64
    versions:
      - 0.13.0
      - 0.14.0
      - 0.15.0
      - 0.16.0
      - 0.17.0
      - 0.18.0
      - 0.19.0
      - 0.20.0
      - 0.21.0
      - 0.22.0
      - 0.23.0
      - 0.24.0
      - 0.25.0
      - 0.26.0
      - 0.27.0
      - 0.29.0
      - 0.30.0
      - 0.31.0
  homepage: https://kind.sigs.k8s.io
  summary: deploy Kubernetes cluster in Docker
  description: |-
    kind is a tool for running local Kubernetes clusters using Docker container
    "nodes". kind was primarily designed for testing Kubernetes itself, but may be
    used for local development or CI.
  fetch: https://github.com/kubernetes-sigs/kind/releases/download/v{{version}}/kind-linux-{{goarch}}
  install:
    - kind-linux-{{goarch}}:/usr/bin/kind
