name: olivetin
matrix:
  architectures:
    - amd64
    - arm64
    - armhf
  versions:
    - 2024.06.01
    - 2024.06.02
    - 2024.06.04
    - 2024.07.07
    - 2024.07.13
    - 2024.07.15
    - 2024.07.153
    - 2024.08.14
    - 2024.08.25
    - 2024.08.31
    - 2024.09.02
    - 2024.09.10
    - 2024.09.11
    - 2024.09.16
    - 2024.10.02
    - 2024.10.14
    - 2024.10.17
    - 2024.10.18
    - 2024.10.26
    - 2024.10.27
    - 2024.11.02
    - 2024.11.09
    - 2024.11.18
    - 2024.11.24
    - 2024.12.11
    - 2025.2.19
    - 2025.3.28
    - 2025.4.14
    - 2025.4.22
    - 2025.5.26
    - 2025.6.1
    - 2025.6.6
    - 2025.6.22
    - 2025.7.13
    - 2025.7.19
    - 2025.7.28
    - 2025.7.29
    - 3000.0.1
    - 3000.0.2
    - 3000.1.0
    - 3000.1.1
    - 3000.1.2
    - 3000.2.0
    - 3000.2.1
    - "2025-10-30"
    - 2025.10.30
    - 3000.3.1
revision: "2"
summary: safe and simple access to predefined shell commands from a web interface
description: |-
  Safely give access to commands, for less technical people:

  - Give your family a button to podman restart plex
  - Give junior admins a simple web form with dropdowns, to start your custom
    script: backupScript.sh --folder {{ customerName }}
  - Enable SSH access to the server for the next 20 mins:
    firewall-cmd --add-service ssh --timeout 20m

  Simplify complex commands, make them accessible and repeatable:

  - Expose complex commands on touchscreen tablets stuck on walls around your
    house: wake-on-lan aa:bb:cc:11:22:33
  - Run long-lived commands on your servers from your cell phone: apt update -y
  - Define complex commands with lots of preset arguments, and turn a few
    arguments into dropdown select boxes: docker start {{container }}
recommends:
  - sudo
fetch:
  url: https://github.com/OliveTin/OliveTin/releases/download/{{version}}/OliveTin_linux_{{target}}.deb
  targets:
    armhf: armv7
install:
  - data/usr/local/bin/OliveTin:/usr/bin/olivetin
  - data/var/www/olivetin:/var/www/olivetin
  - content: |-
      #!/bin/sh
      set -e
      if ! id -u olivetin >/dev/null 2>&1; then
        useradd --system --no-create-home --user-group --shell /bin/false olivetin
      fi
    path: "{{debian}}/postinst"
  - content: |-
      [Unit]
      Description=OliveTin
      Wants=network-online.target
      After=network-online.target

      [Service]
      Type=simple
      ExecStart=/usr/bin/olivetin
      User=olivetin
      Group=olivetin
      Restart=always
      RestartSec=10
      ProtectSystem=strict
      PrivateTmp=yes

      [Install]
      WantedBy=multi-user.target
    path: /lib/systemd/system/olivetin.service
  - content: |-
      listenAddressSingleHTTPFrontend: 0.0.0.0:1337
      logLevel: "INFO"
      actions:
        - title: Ping Google
          shell: ping google.com -c 1
          icon: ping
          timeout: 10
    path: /etc/OliveTin/config.yaml
  - content: "# olivetin ALL=NOPASSWD: /usr/bin/systemctl start example.service"
    path: /etc/sudoers.d/20-olivetin
