name: kube-no-trouble
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 0.7.0
    - 0.7.1
    - 0.7.2
    - 0.7.3
homepage: https://github.com/doitintl/kube-no-trouble/
summary: easily check your clusters for use of deprecated apis
description: |-
  Kube No Trouble (kubent) is a simple tool to check whether you're using
  any of these API versions in your cluster and therefore should
  upgrade your workloads first, before upgrading your Kubernetes cluster.
fetch: https://github.com/doitintl/kube-no-trouble/releases/download/{{version}}/kubent-{{version}}-linux-{{goarch}}.tar.gz
install:
  - kubent:/usr/bin/kubent
