- name: terraform
  version: 1.0.11
  revision: "2"
  homepage: https://www.terraform.io
  summary: tool for building, changing, and versioning infrastructure safely
  description: |-
    Terraform is an open-source infrastructure as code software tool that provides
    a consistent CLI workflow to manage hundreds of cloud services. Terraform
    codifies cloud APIs into declarative configuration files. Terraform can manage
    existing and popular service providers as well as custom in-house solutions.
  fetch: https://releases.hashicorp.com/terraform/{{version}}/terraform_{{version}}_linux_amd64.zip
  script:
    - install -m 755 terraform {{src}}/usr/bin/terraform

- name: terraform
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.1.5
      - 1.1.6
      - 1.1.7
  homepage: https://www.terraform.io
  summary: tool for building, changing, and versioning infrastructure safely
  description: |-
    Terraform is an open-source infrastructure as code software tool that provides
    a consistent CLI workflow to manage hundreds of cloud services. Terraform
    codifies cloud APIs into declarative configuration files. Terraform can manage
    existing and popular service providers as well as custom in-house solutions.
  fetch: https://releases.hashicorp.com/terraform/{{version}}/terraform_{{version}}_linux_{{goarch}}.zip
  script:
    - mv terraform {{src}}/usr/bin/terraform

- name: terraform
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.6.0
      - 1.6.1
      - 1.6.2
      - 1.6.3
      - 1.6.4
      - 1.6.5
      - 1.6.6
      - 1.7.0
      - 1.7.1
      - 1.7.2
      - 1.7.3
      - 1.7.4
      - 1.7.5
      - 1.8.0
      - 1.8.1
      - 1.8.2
      - 1.8.3
      - 1.8.4
      - 1.8.5
      - 1.9.0
      - 1.9.1
      - 1.9.2
      - 1.9.3
      - 1.9.4
      - 1.9.5
      - 1.9.6
      - 1.9.7
      - 1.9.8
      - 1.10.0
      - 1.10.1
      - 1.10.2
      - 1.10.3
      - 1.10.4
      - 1.10.5
      - 1.11.2
      - 1.11.3
      - 1.11.4
      - 1.12.1
      - 1.12.2
      - 1.13.0
      - 1.13.1
      - 1.13.2
      - 1.13.3
      - 1.13.4
      - 1.13.5
      - 1.14.0
      - 1.14.1
      - 1.14.2
      - 1.14.3
      - 1.14.4
  homepage: https://www.terraform.io
  summary: tool for building, changing, and versioning infrastructure safely
  description: |-
    Terraform is an open-source infrastructure as code software tool that provides
    a consistent CLI workflow to manage hundreds of cloud services. Terraform
    codifies cloud APIs into declarative configuration files. Terraform can manage
    existing and popular service providers as well as custom in-house solutions.
  fetch: https://releases.hashicorp.com/terraform/{{version}}/terraform_{{version}}_linux_{{goarch}}.zip
  install:
    - terraform:/usr/bin/
