- name: terraform
  version: 1.0.11
  revision: "2"
  homepage: https://www.terraform.io
  summary: tool for building, changing, and versioning infrastructure safely
  description: |-
    Terraform is an open-source infrastructure as code software tool that provides
    a consistent CLI workflow to manage hundreds of cloud services. Terraform
    codifies cloud APIs into declarative configuration files. Terraform can manage
    existing and popular service providers as well as custom in-house solutions.
  fetch: https://releases.hashicorp.com/terraform/{{version}}/terraform_{{version}}_linux_amd64.zip
  script:
    - install -m 755 terraform {{src}}/usr/bin/terraform

- name: terraform
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.1.5
      - 1.1.6
      - 1.1.7
  homepage: https://www.terraform.io
  summary: tool for building, changing, and versioning infrastructure safely
  description: |-
    Terraform is an open-source infrastructure as code software tool that provides
    a consistent CLI workflow to manage hundreds of cloud services. Terraform
    codifies cloud APIs into declarative configuration files. Terraform can manage
    existing and popular service providers as well as custom in-house solutions.
  fetch: https://releases.hashicorp.com/terraform/{{version}}/terraform_{{version}}_linux_{{goarch}}.zip
  script:
    - mv terraform {{src}}/usr/bin/terraform

- name: terraform
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.3.2
      - 1.3.3
      - 1.3.4
      - 1.3.5
      - 1.3.6
      - 1.3.7
      - 1.3.8
      - 1.3.9
      - 1.4.0
      - 1.4.1
      - 1.4.2
      - 1.4.3
      - 1.4.4
      - 1.4.5
      - 1.4.6
      - 1.5.0
      - 1.5.1
      - 1.5.2
      - 1.5.3
      - 1.5.4
      - 1.5.5
      - 1.5.6
      - 1.5.7
      - 1.6.0
      - 1.6.1
      - 1.6.2
      - 1.6.3
      - 1.6.4
      - 1.6.5
      - 1.6.6
      - 1.7.0
      - 1.7.1
      - 1.7.2
      - 1.7.3
      - 1.7.4
      - 1.7.5
      - 1.8.0
      - 1.8.1
      - 1.8.2
      - 1.8.3
      - 1.8.4
      - 1.8.5
      - 1.9.0
      - 1.9.1
      - 1.9.2
      - 1.9.3
      - 1.9.4
      - 1.9.5
      - 1.9.6
      - 1.9.7
  homepage: https://www.terraform.io
  summary: tool for building, changing, and versioning infrastructure safely
  description: |-
    Terraform is an open-source infrastructure as code software tool that provides
    a consistent CLI workflow to manage hundreds of cloud services. Terraform
    codifies cloud APIs into declarative configuration files. Terraform can manage
    existing and popular service providers as well as custom in-house solutions.
  fetch: https://releases.hashicorp.com/terraform/{{version}}/terraform_{{version}}_linux_{{goarch}}.zip
  install:
    - terraform:/usr/bin/
