- name: flux
  matrix:
    versions:
      - 0.19.1
      - 0.20.1
      - 0.21.1
      - 0.22.1
      - 0.23.0
  homepage: https://fluxcd.io
  summary: open and extensible continuous delivery solution for Kubernetes
  description: |-
    Flux is a tool for keeping Kubernetes clusters in sync with sources
    of configuration (like Git repositories), and automating updates to
    configuration when there is new code to deploy.
  fetch: https://github.com/fluxcd/flux2/releases/download/v{{version}}/flux_{{version}}_linux_amd64.tar.gz
  script:
    - install -m 755 flux {{src}}/usr/bin/flux

- name: flux
  version: 0.24.1
  revision: "2"
  homepage: https://fluxcd.io
  summary: open and extensible continuous delivery solution for Kubernetes
  description: |-
    Flux is a tool for keeping Kubernetes clusters in sync with sources
    of configuration (like Git repositories), and automating updates to
    configuration when there is new code to deploy.
  fetch: https://github.com/fluxcd/flux2/releases/download/v{{version}}/flux_{{version}}_linux_amd64.tar.gz
  script:
    - mv flux {{src}}/usr/bin/flux

- name: flux
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 0.31.3
      - 0.31.5
      - 0.32.0
      - 0.33.0
      - 0.34.0
      - 0.35.0
      - 0.36.0
      - 0.37.0
      - 0.38.0
      - 0.38.1
      - 0.38.2
      - 0.38.3
      - 0.39.0
      - 0.40.0
      - 0.40.1
      - 0.40.2
      - 0.41.0
      - 0.41.1
      - 0.41.2
      - 2.0.0-rc.1
      - 2.0.0-rc.2
      - 2.0.0-rc.3
      - 2.0.0-rc.4
      - 2.0.0-rc.5
      - 2.0.0
      - 2.0.1
      - 2.1.0
      - 2.1.1
      - 2.1.2
      - 2.2.0
      - 2.2.1
      - 2.2.2
      - 2.2.3
      - 2.3.0
      - 2.4.0
      - 2.5.0
      - 2.5.1
      - 2.6.0
      - 2.6.1
      - 2.6.2
      - 2.6.3
      - 2.6.4
      - 2.7.0
      - 2.7.1
      - 2.7.2
      - 2.7.3
      - 2.7.4
      - 2.7.5
      - 2.8.0
      - 2.8.1
  homepage: https://fluxcd.io
  summary: open and extensible continuous delivery solution for Kubernetes
  description: |-
    Flux is a tool for keeping Kubernetes clusters in sync with sources
    of configuration (like Git repositories), and automating updates to
    configuration when there is new code to deploy.
  fetch: https://github.com/fluxcd/flux2/releases/download/v{{version}}/flux_{{version}}_linux_{{goarch}}.tar.gz
  install:
    - flux:/usr/bin/
