name: mirrord
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 3.94.0
    - 3.95.0
    - 3.95.2
    - 3.96.0
    - 3.96.1
    - 3.97.0
    - 3.98.0
    - 3.98.1
    - 3.99.0
    - 3.99.1
    - 3.99.2
    - 3.100.0
    - 3.100.1
    - 3.101.0
    - 3.102.0
    - 3.103.0
    - 3.104.0
    - 3.105.0
    - 3.106.0
    - 3.107.0
    - 3.108.0
    - 3.109.0
    - 3.110.0
    - 3.111.0
    - 3.112.0
    - 3.112.1
    - 3.113.0
    - 3.113.1
    - 3.114.0
    - 3.114.1
    - 3.115.0
    - 3.115.1
    - 3.116.0
    - 3.116.1
    - 3.116.2
    - 3.116.3
    - 3.117.0
    - 3.118.0
    - 3.118.1
    - 3.119.0
    - 3.119.1
    - 3.120.0
    - 3.120.1
    - 3.121.0
    - 3.121.1
    - 3.122.0
    - 3.122.1
    - 3.123.0
    - 3.124.0
    - 3.124.1
homepage: https://mirrord.dev/
summary: develop locally with your kubernetes environment
description: |-
  Run your local code in the real-time context of your cloud environment, with
  access to other microservices, databases, queues, and managed services, all
  without leaving the local setup you know and love.
fetch:
  url: https://github.com/metalbear-co/mirrord/releases/download/{{version}}/mirrord_linux_{{target}}.zip
  targets:
    amd64: x86_64
    arm64: aarch64
install:
  - mirrord:/usr/bin/mirrord
