name: mirrord
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 3.109.0
    - 3.110.0
    - 3.111.0
    - 3.112.0
    - 3.112.1
    - 3.113.0
    - 3.113.1
    - 3.114.0
    - 3.114.1
    - 3.115.0
    - 3.115.1
    - 3.116.0
    - 3.116.1
    - 3.116.2
    - 3.116.3
    - 3.117.0
    - 3.118.0
    - 3.118.1
    - 3.119.0
    - 3.119.1
    - 3.120.0
    - 3.120.1
    - 3.121.0
    - 3.121.1
    - 3.122.0
    - 3.122.1
    - 3.123.0
    - 3.124.0
    - 3.124.1
    - 3.124.2
    - 3.125.0
    - 3.125.1
    - 3.125.2
    - 3.126.0
    - 3.127.0
    - 3.128.0
    - 3.129.0
    - 3.131.0
    - 3.131.1
    - 3.131.2
    - 3.132.0
    - 3.132.1
    - 3.133.1
    - 3.134.2
    - 3.136.0
    - 3.137.0
    - 3.138.0
    - 3.141.0
    - 3.142.2
    - 3.143.0
homepage: https://mirrord.dev/
summary: develop locally with your kubernetes environment
description: |-
  Run your local code in the real-time context of your cloud environment, with
  access to other microservices, databases, queues, and managed services, all
  without leaving the local setup you know and love.
fetch:
  url: https://github.com/metalbear-co/mirrord/releases/download/{{version}}/mirrord_linux_{{target}}.zip
  targets:
    amd64: x86_64
    arm64: aarch64
install:
  - mirrord:/usr/bin/mirrord
