name: mirrord
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 3.144.0
    - 3.145.0
    - 3.146.0
    - 3.147.0
    - 3.148.0
    - 3.151.0
    - 3.152.0
    - 3.152.1
    - 3.153.0
    - 3.154.0
    - 3.154.1
    - 3.155.0
    - 3.156.0
    - 3.157.0
    - 3.157.1
    - 3.157.2
    - 3.158.0
    - 3.159.0
    - 3.159.1
    - 3.159.2
    - 3.160.0
    - 3.161.0
    - 3.162.0
    - 3.163.0
    - 3.164.0
    - 3.165.0
    - 3.166.0
    - 3.167.0
    - 3.168.0
    - 3.168.1
    - 3.169.0
    - 3.170.0
    - 3.171.0
    - 3.172.0
    - 3.173.1
    - 3.173.2
    - 3.174.0
    - 3.175.0
    - 3.176.0
    - 3.177.0
    - 3.178.0
    - 3.179.0
    - 3.180.0
    - 3.181.0
    - 3.182.0
    - 3.183.0
    - 3.184.0
    - 3.185.0
    - 3.185.1
    - 3.186.0
homepage: https://mirrord.dev/
summary: develop locally with your kubernetes environment
description: |-
  Run your local code in the real-time context of your cloud environment, with
  access to other microservices, databases, queues, and managed services, all
  without leaving the local setup you know and love.
fetch:
  url: https://github.com/metalbear-co/mirrord/releases/download/{{version}}/mirrord_linux_{{target}}.zip
  targets:
    amd64: x86_64
    arm64: aarch64
install:
  - mirrord:/usr/bin/mirrord
