- name: velero
  version: 1.7.1
  revision: "3"
  homepage: https://velero.io
  summary: backup and migrate Kubernetes applications and their persistent volumes
  description: |-
    Velero (formerly Heptio Ark) gives you tools to back up and restore your
    Kubernetes cluster resources and persistent volumes.
  fetch: https://github.com/vmware-tanzu/velero/releases/download/v{{version}}/velero-v{{version}}-linux-amd64.tar.gz
  script:
    - mv velero-v{{version}}-linux-amd64/velero {{src}}/usr/bin/velero

- name: velero
  matrix:
    architectures:
      - arm64
      - armhf
  version: 1.7.1
  revision: "3"
  homepage: https://velero.io
  summary: backup and migrate Kubernetes applications and their persistent volumes
  description: |-
    Velero (formerly Heptio Ark) gives you tools to back up and restore your
    Kubernetes cluster resources and persistent volumes.
  fetch: https://github.com/vmware-tanzu/velero/releases/download/v{{version}}/velero-v{{version}}-linux-{{goarch}}.tar.gz
  script:
    - mv velero-v{{version}}-linux-{{goarch}}/velero {{src}}/usr/bin/velero

- name: velero
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.8.0
      - 1.7.2
      - 1.8.1
  homepage: https://velero.io
  summary: backup and migrate Kubernetes applications and their persistent volumes
  description: |-
    Velero (formerly Heptio Ark) gives you tools to back up and restore your
    Kubernetes cluster resources and persistent volumes.
  fetch: https://github.com/vmware-tanzu/velero/releases/download/v{{version}}/velero-v{{version}}-linux-{{goarch}}.tar.gz
  script:
    - mv velero-v{{version}}-linux-{{goarch}}/velero {{src}}/usr/bin/velero

- name: velero
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.9.0
      - 1.9.1
      - 1.9.2
      - 1.9.3
      - 1.10.0
      - 1.10.1
      - 1.10.2
      - 1.11.0
      - 1.11.1
      - 1.12.0
      - 1.12.1
      - 1.12.2
      - 1.12.3
      - 1.13.0
      - 1.13.1
      - 1.13.2
      - 1.14.0
      - 1.14.1
      - 1.15.0
      - 1.15.1
  homepage: https://velero.io
  summary: backup and migrate Kubernetes applications and their persistent volumes
  description: |-
    Velero (formerly Heptio Ark) gives you tools to back up and restore your
    Kubernetes cluster resources and persistent volumes.
  fetch: https://github.com/vmware-tanzu/velero/releases/download/v{{version}}/velero-v{{version}}-linux-{{goarch}}.tar.gz
  install:
    - velero-v{{version}}-linux-{{goarch}}/velero:/usr/bin/velero
