.badge{
	padding: 8px 10px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	font-family: var(--md-code-font-family);
}
.badge.version{
	background: #00b8d4;
	color: whitesmoke;
}
.badge.arch{
	background: #DA605B;
	color: whitesmoke;
}
