name: cilium
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 0.15.23
    - 0.16.18
    - 0.16.19
    - 0.16.20
    - 0.16.21
    - 0.16.22
    - 0.16.23
    - 0.16.24
    - 0.17.0
    - 0.18.2
    - 0.18.3
    - 0.18.4
    - 0.18.5
    - 0.18.6
    - 0.18.7
    - 0.18.8
    - 0.18.9
homepage: https://github.com/cilium/cilium-cli
summary: CLI for interacting with the local Cilium Agent
description: CLI to install, manage & troubleshoot Kubernetes clusters running Cilium.
fetch: https://github.com/cilium/cilium-cli/releases/download/v{{version}}/cilium-linux-{{goarch}}.tar.gz
install:
  - cilium:/usr/bin/cilium
