name: clusterctl
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 1.7.3
    - 1.7.4
    - 1.8.0
    - 1.8.1
    - 1.8.2
    - 1.8.3
    - 1.8.4
    - 1.8.5
    - 1.9.0
    - 1.9.1
    - 1.9.2
    - 1.9.3
    - 1.9.4
    - 1.9.5
    - 1.9.6
    - 1.10.1
    - 1.10.2
    - 1.10.3
    - 1.10.4
    - 1.11.0
    - 1.11.1
    - 1.11.2
homepage: https://cluster-api.sigs.k8s.io/
summary: Kubernetes project offering declarative APIs for managing multiple clusters
description: |-
  Started by the Kubernetes Special Interest Group (SIG) Cluster Lifecycle, the
  Cluster API project uses Kubernetes-style APIs and patterns to automate cluster
  lifecycle management for platform operators. The supporting infrastructure,
  like virtual machines, networks, load balancers, and VPCs, as well as the
  Kubernetes cluster configuration are all defined in the same way that
  application developers operate deploying and managing their workloads. This
  enables consistent and repeatable cluster deployments across a wide variety of
  infrastructure environments.
fetch: https://github.com/kubernetes-sigs/cluster-api/releases/download/v{{version}}/clusterctl-linux-{{arch}}
install:
  - clusterctl-linux-{{arch}}:/usr/bin/clusterctl
