name: tflint
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 0.39.1
    - 0.39.2
    - 0.39.3
    - 0.40.0
    - 0.40.1
    - 0.41.0
    - 0.42.0
    - 0.42.1
    - 0.42.2
    - 0.43.0
    - 0.44.0
    - 0.44.1
    - 0.45.0
    - 0.46.0
    - 0.46.1
    - 0.47.0
    - 0.48.0
    - 0.49.0
    - 0.50.0
    - 0.50.1
    - 0.50.2
    - 0.50.3
    - 0.51.0
    - 0.51.1
    - 0.52.0
    - 0.53.0
    - 0.54.0
    - 0.55.0
    - 0.55.1
    - 0.56.0
    - 0.57.0
    - 0.58.0
    - 0.58.1
    - 0.59.1
    - 0.60.0
homepage: https://github.com/terraform-linters/tflint
summary: pluggable Terraform linter
description: |-
  TFLint is a framework and each feature is provided by plugins, the key features
  are as follows:

  - Find possible errors (like illegal instance types) for Major Cloud providers
  (AWS/Azure/GCP).
  - Warn about deprecated syntax, unused declarations.
  - Enforce best practices, naming conventions.
fetch: https://github.com/terraform-linters/tflint/releases/download/v{{version}}/tflint_linux_{{target}}.zip
install:
  - tflint:/usr/bin/tflint
