name: hubble
matrix:
  architectures:
    - amd64
  versions:
    - 0.13.6
    - 1.16.1
    - 1.16.2
    - 1.16.3
    - 1.16.4
    - 1.16.5
    - 1.16.6
    - 1.17.0
    - 1.17.1
    - 1.17.2
    - 1.17.3
homepage: https://github.com/cilium/hubble
summary: Network, Service & Security Observability for Kubernetes using eBPF
description: |-
  Fully distributed networking and security observability platform for cloud
  native workloads. It is built on top of Cilium and eBPF.
fetch: https://github.com/cilium/hubble/releases/download/v{{version}}/hubble-linux-{{goarch}}.tar.gz
install:
  - hubble:/usr/bin/hubble
