name: stern
matrix:
  architectures:
    - amd64
    - arm64
    - armhf
  versions:
    - 1.23.0
    - 1.24.0
    - 1.25.0
    - 1.26.0
    - 1.27.0
    - 1.28.0
    - 1.29.0
    - 1.30.0
revision: "2"
homepage: https://github.com/stern/stern
summary: multi pod and container log tailing for Kubernetes
description: |-
  Allows you to tail multiple pods on Kubernetes and multiple containers within
  the pod. Each result is color coded for quicker debugging.
fetch: https://github.com/stern/stern/releases/download/v{{version}}/stern_{{version}}_linux_{{goarch}}.tar.gz
install:
  - stern:/usr/bin/stern
