- name: rclone
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.57.0
      - 1.58.0
  homepage: https://rclone.org/
  summary: rsync for cloud storage
  description: |-
    Rclone ("rsync for cloud storage") is a command-line program to sync files and
    directories to and from different cloud storage providers.
  fetch: https://github.com/rclone/rclone/releases/download/v{{version}}/rclone-v{{version}}-linux-{{goarch}}.zip
  script:
    - mv rclone-v{{version}}-linux-* {{src}}/usr/bin/rclone

- name: rclone
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.58.1
      - 1.59.0
      - 1.59.1
      - 1.59.2
      - 1.60.0
      - 1.60.1
      - 1.61.0
  homepage: https://rclone.org/
  summary: rsync for cloud storage
  description: |-
    Rclone ("rsync for cloud storage") is a command-line program to sync files and
    directories to and from different cloud storage providers.
  fetch: https://github.com/rclone/rclone/releases/download/v{{version}}/rclone-v{{version}}-linux-{{goarch}}.zip
  install:
    - rclone-v{{version}}-linux-{{goarch}}:/usr/bin/rclone

- name: rclone
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.61.1
      - 1.62.0
      - 1.62.1
      - 1.62.2
      - 1.63.0
      - 1.63.1
      - 1.64.0
      - 1.64.1
      - 1.64.2
      - 1.65.0
      - 1.65.1
      - 1.65.2
      - 1.66.0
      - 1.67.0
      - 1.68.0
      - 1.68.1
      - 1.68.2
      - 1.69.0
      - 1.69.1
      - 1.69.2
      - 1.69.3
      - 1.70.0
      - 1.70.1
      - 1.70.2
      - 1.70.3
      - 1.71.0
  revision: "2"
  homepage: https://rclone.org/
  summary: rsync for cloud storage
  description: |-
    Rclone ("rsync for cloud storage") is a command-line program to sync files and
    directories to and from different cloud storage providers.
  fetch: https://github.com/rclone/rclone/releases/download/v{{version}}/rclone-v{{version}}-linux-{{goarch}}.zip
  install:
    - rclone-v{{version}}-linux-{{goarch}}/rclone:/usr/bin/rclone
