name: logcli
matrix:
  architectures:
    - amd64
    - arm64
    - armhf
  versions:
    - 2.3.0
    - 2.4.2
    - 2.5.0
    - 2.6.0
    - 2.6.1
    - 2.7.0
    - 2.7.1
    - 2.7.2
    - 2.7.3
    - 2.7.4
    - 2.7.5
    - 2.8.0
    - 2.8.1
    - 2.8.2
    - 2.8.3
    - 2.8.4
    - 2.9.0
    - 2.9.1
    - 2.9.2
    - 2.9.3
    - 2.9.4
    - 2.9.5
    - 2.9.6
    - 3.0.0
    - 3.1.0
    - 3.1.1
    - 3.2.0
    - 3.2.1
    - 3.3.0
    - 3.3.2
    - 3.4.0
    - 3.4.1
    - 3.4.2
    - 3.4.3
    - 3.5.0
    - 3.5.1
    - 3.5.2
    - 3.5.3
homepage: https://github.com/grafana/loki
summary: command-line interface for loki
description: It facilitates running LogQL queries against a Loki instance.
fetch: https://github.com/grafana/loki/releases/download/v{{version}}/logcli-linux-{{goarch}}.zip
install:
  - logcli-linux-{{goarch}}:/usr/bin/logcli
