- name: docker-compose
  version: 1.29.2
  revision: "3"
  homepage: https://docs.docker.com/compose
  summary: lightweight development environments using Docker
  description: |-
    docker-compose is a service management software built on top of docker. Define
    your services and their relationships in a simple YAML file, and let compose
    handle the rest.
  fetch: https://github.com/docker/compose/releases/download/{{version}}/docker-compose-Linux-x86_64
  script:
    - mv docker-compose-Linux-x86_64 {{src}}/usr/bin/docker-compose

- name: docker-compose
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 2.12.1
      - 2.12.2
      - 2.13.0
      - 2.14.0
      - 2.14.1
      - 2.14.2
      - 2.15.0
      - 2.15.1
      - 2.16.0
      - 2.17.0
      - 2.17.1
      - 2.17.2
      - 2.17.3
      - 2.18.0
      - 2.18.1
      - 2.19.0
      - 2.19.1
      - 2.20.0
      - 2.20.1
      - 2.20.2
      - 2.20.3
      - 2.21.0
      - 2.22.0
      - 2.23.0
      - 2.23.1
      - 2.23.2
      - 2.23.3
      - 2.24.0
      - 2.24.1
      - 2.24.2
      - 2.24.3
      - 2.24.4
      - 2.24.5
      - 2.24.6
      - 2.24.7
      - 2.25.0
      - 2.26.0
      - 2.26.1
      - 2.27.0
      - 2.27.1
      - 2.27.2
      - 2.27.3
      - 2.28.0
      - 2.28.1
      - 2.29.0
      - 2.29.1
      - 2.29.2
      - 2.29.3
      - 2.29.4
      - 2.29.5
  homepage: https://docs.docker.com/compose
  summary: lightweight development environments using Docker
  description: |-
    docker-compose is a service management software built on top of docker. Define
    your services and their relationships in a simple YAML file, and let compose
    handle the rest.
  fetch:
    url: https://github.com/docker/compose/releases/download/v{{version}}/docker-compose-linux-{{target}}
    targets:
      amd64: x86_64
      armhf: armv7
      arm64: aarch64
  install:
    - docker-compose-linux-{{target}}:/usr/bin/docker-compose
