name: gitlab-release-cli
matrix:
  architectures:
    - amd64
    - arm64
    - armhf
  versions:
    - 0.10.0
    - 0.11.0
    - 0.13.0
    - 0.14.0
    - 0.15.0
    - 0.16.0
    - 0.17.0
    - 0.18.0
    - 0.19.0
    - 0.20.0
    - 0.21.0
    - 0.22.0
    - 0.23.0
homepage: https://gitlab.com/gitlab-org/release-cli/
summary: command-line interface for GitLab Release
description: |-
  Consumes instructions in the :release node of the .gitlab-ci.yml to create a
  Release object in GitLab Rails. GitLab Release is a CLI application written in
  Golang.
fetch: https://gitlab.com/gitlab-org/release-cli/-/releases/v{{version}}/downloads/bin/release-cli-linux-{{goarch}}
install:
  - release-cli-linux-{{goarch}}:/usr/bin/release-cli
