- name: terragrunt
  matrix:
    architectures:
      - amd64
      - arm64
    versions:
      - 0.36.2
      - 0.36.3
      - 0.36.5
      - 0.36.6
      - 0.36.7
  homepage: https://terragrunt.gruntwork.io/
  summary: provides extra tools for working with multiple Terraform modules
  description: |-
    Terragrunt is a thin wrapper for Terraform that provides extra tools for
    keeping your Terraform configurations DRY, working with multiple Terraform
    modules, and managing remote state.
  fetch: https://github.com/gruntwork-io/terragrunt/releases/download/v{{version}}/terragrunt_linux_{{goarch}}
  script:
    - mv terragrunt_linux_{{goarch}} {{src}}/usr/bin/terragrunt

- name: terragrunt
  matrix:
    architectures:
      - amd64
      - arm64
    versions:
      - 0.81.4
      - 0.81.5
      - 0.81.6
      - 0.81.7
      - 0.81.8
      - 0.81.9
      - 0.81.10
      - 0.82.0
      - 0.82.1
      - 0.82.2
      - 0.82.3
      - 0.82.4
      - 0.83.0
      - 0.83.2
      - 0.84.0
      - 0.84.1
      - 0.85.0
      - 0.85.1
      - 0.86.0
      - 0.86.1
      - 0.86.2
      - 0.87.0
      - 0.87.1
      - 0.87.2
      - 0.87.3
      - 0.87.4
      - 0.87.5
      - 0.87.6
      - 0.87.7
      - 0.88.0
      - 0.88.1
      - 0.89.0
      - 0.89.1
      - 0.89.2
      - 0.89.3
      - 0.89.4
      - 0.90.0
      - 0.91.0
      - 0.91.1
      - 0.91.2
      - 0.91.4
      - 0.91.5
      - 0.92.0
      - 0.92.1
      - 0.93.0
      - 0.93.1
      - 0.93.2
      - 0.93.3
      - 0.93.4
      - 0.93.5
  homepage: https://terragrunt.gruntwork.io/
  summary: provides extra tools for working with multiple Terraform modules
  description: |-
    Terragrunt is a thin wrapper for Terraform that provides extra tools for
    keeping your Terraform configurations DRY, working with multiple Terraform
    modules, and managing remote state.
  fetch: https://github.com/gruntwork-io/terragrunt/releases/download/v{{version}}/terragrunt_linux_{{goarch}}
  install:
    - terragrunt_linux_{{goarch}}:/usr/bin/terragrunt
