- name: terragrunt
  matrix:
    architectures:
      - amd64
      - arm64
    versions:
      - 0.36.2
      - 0.36.3
      - 0.36.5
      - 0.36.6
      - 0.36.7
  homepage: https://terragrunt.gruntwork.io/
  summary: provides extra tools for working with multiple Terraform modules
  description: |-
    Terragrunt is a thin wrapper for Terraform that provides extra tools for
    keeping your Terraform configurations DRY, working with multiple Terraform
    modules, and managing remote state.
  fetch: https://github.com/gruntwork-io/terragrunt/releases/download/v{{version}}/terragrunt_linux_{{goarch}}
  script:
    - mv terragrunt_linux_{{goarch}} {{src}}/usr/bin/terragrunt

- name: terragrunt
  matrix:
    architectures:
      - amd64
      - arm64
    versions:
      - 0.86.1
      - 0.86.2
      - 0.87.0
      - 0.87.1
      - 0.87.2
      - 0.87.3
      - 0.87.4
      - 0.87.5
      - 0.87.6
      - 0.87.7
      - 0.88.0
      - 0.88.1
      - 0.89.0
      - 0.89.1
      - 0.89.2
      - 0.89.3
      - 0.89.4
      - 0.90.0
      - 0.91.0
      - 0.91.1
      - 0.91.2
      - 0.91.4
      - 0.91.5
      - 0.92.0
      - 0.92.1
      - 0.93.0
      - 0.93.1
      - 0.93.2
      - 0.93.3
      - 0.93.4
      - 0.93.5
      - 0.93.6
      - 0.93.7
      - 0.93.8
      - 0.93.9
      - 0.93.10
      - 0.93.11
      - 0.93.12
      - 0.93.13
      - 0.94.0
      - 0.95.0
      - 0.95.1
      - 0.96.0
      - 0.96.1
      - 0.97.0
      - 0.97.1
      - 0.97.2
      - 0.98.0
      - 0.99.0
      - 0.99.1
  homepage: https://terragrunt.gruntwork.io/
  summary: provides extra tools for working with multiple Terraform modules
  description: |-
    Terragrunt is a thin wrapper for Terraform that provides extra tools for
    keeping your Terraform configurations DRY, working with multiple Terraform
    modules, and managing remote state.
  fetch: https://github.com/gruntwork-io/terragrunt/releases/download/v{{version}}/terragrunt_linux_{{goarch}}
  install:
    - terragrunt_linux_{{goarch}}:/usr/bin/terragrunt
