- name: terragrunt
  matrix:
    architectures:
      - amd64
      - arm64
    versions:
      - 0.36.2
      - 0.36.3
      - 0.36.5
      - 0.36.6
      - 0.36.7
  homepage: https://terragrunt.gruntwork.io/
  summary: provides extra tools for working with multiple Terraform modules
  description: |-
    Terragrunt is a thin wrapper for Terraform that provides extra tools for
    keeping your Terraform configurations DRY, working with multiple Terraform
    modules, and managing remote state.
  fetch: 
    https://github.com/gruntwork-io/terragrunt/releases/download/v{{version}}/terragrunt_linux_{{goarch}}
  script:
    - mv terragrunt_linux_{{goarch}} {{src}}/usr/bin/terragrunt

- name: terragrunt
  matrix:
    architectures:
      - amd64
      - arm64
    versions:
      - 0.68.4
      - 0.68.5
      - 0.68.6
      - 0.68.7
      - 0.68.8
      - 0.68.9
      - 0.68.10
      - 0.68.12
      - 0.68.13
      - 0.68.14
      - 0.68.15
      - 0.68.16
      - 0.69.0
      - 0.69.1
      - 0.69.2
      - 0.69.3
      - 0.69.5
      - 0.69.6
      - 0.69.7
      - 0.69.8
      - 0.69.9
      - 0.69.10
      - 0.69.12
      - 0.69.13
      - 0.70.0
      - 0.70.1
      - 0.70.2
      - 0.70.3
      - 0.70.4
      - 0.71.1
      - 0.71.2
      - 0.71.3
      - 0.71.4
      - 0.71.5
      - 0.72.0
      - 0.72.1
      - 0.72.5
      - 0.72.6
      - 0.72.8
      - 0.72.9
      - 0.73.0
      - 0.73.1
      - 0.73.2
      - 0.73.3
      - 0.73.5
      - 0.73.8
      - 0.75.6
      - 0.76.1
      - 0.76.6
      - 0.77.6
  homepage: https://terragrunt.gruntwork.io/
  summary: provides extra tools for working with multiple Terraform modules
  description: |-
    Terragrunt is a thin wrapper for Terraform that provides extra tools for
    keeping your Terraform configurations DRY, working with multiple Terraform
    modules, and managing remote state.
  fetch: 
    https://github.com/gruntwork-io/terragrunt/releases/download/v{{version}}/terragrunt_linux_{{goarch}}
  install:
    - terragrunt_linux_{{goarch}}:/usr/bin/terragrunt
