name: helm-docs
matrix:
  architectures:
    - amd64
    - arm64
    - armhf
  versions:
    - 1.11.3
    - 1.12.0
    - 1.13.0
    - 1.13.1
    - 1.14.2
homepage: https://github.com/norwoodj/helm-docs
summary: tool for automatically generating markdown documentation for helm charts
description: |-
  Auto-generates documentation from helm charts into markdown files.
  the resulting files contain metadata about their respective chart and a table
  with each of the chart's values, their defaults, and an optional description
  parsed from comments.
fetch:
  url: https://github.com/norwoodj/helm-docs/releases/download/v{{version}}/helm-docs_{{version}}_Linux_{{target}}.tar.gz
  targets:
    amd64: x86_64
    armhf: arm7
install:
  - helm-docs:/usr/bin/helm-docs
