name: aws-iam-authenticator
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 0.5.7
    - 0.5.9
    - 0.5.11
    - 0.5.12
    - 0.6.2
    - 0.6.10
    - 0.6.11
    - 0.6.14
    - 0.6.21
    - 0.6.22
    - 0.6.23
    - 0.6.24
    - 0.6.25
    - 0.6.26
    - 0.6.27
    - 0.6.28
    - 0.6.29
    - 0.6.30
    - 0.6.31
homepage: https://github.com/kubernetes-sigs/aws-iam-authenticator
summary: Kubernetes authentication using AWS IAM
description: A tool to use AWS IAM credentials to authenticate to a Kubernetes cluster.
fetch: https://github.com/kubernetes-sigs/aws-iam-authenticator/releases/download/v{{version}}/aws-iam-authenticator_{{version}}_linux_{{goarch}}
install:
  - aws-iam-authenticator_{{version}}_linux_{{goarch}}:/usr/bin/aws-iam-authenticator
