name: undock
matrix:
  architectures:
    - amd64
  versions:
    - 0.7.0
    - 0.8.0
    - 0.9.0
    - 0.10.0
homepage: https://crazymax.dev/undock/
summary: extracting files from container images
description: |-
  Allows you to extract contents of a container image in a local folder. This
  can be useful if you use a registry to store artifacts in a scratch image, and
  you want to extract them on your local machine with a single command.
fetch: https://github.com/crazy-max/undock/releases/download/v{{version}}/undock_{{version}}_linux_{{goarch}}.tar.gz
install:
  - undock:/usr/bin/undock
