- name: kubectl
  version: 1.22.4
  revision: "2"
  homepage: https://github.com/kubernetes/kubectl
  summary: command line client for controlling a Kubernetes cluster
  description: |-
    kubectl is a command line client for running commands against Kubernetes
    clusters.
  fetch: https://storage.googleapis.com/kubernetes-release/release/v{{version}}/bin/linux/amd64/kubectl
  script:
    - mv kubectl {{src}}/usr/bin/

- name: kubectl
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.23.3
      - 1.23.4
      - 1.23.5
      - 1.23.6
  homepage: https://github.com/kubernetes/kubectl
  summary: command line client for controlling a Kubernetes cluster
  description: |-
    kubectl is a command line client for running commands against Kubernetes
    clusters.
  fetch: https://storage.googleapis.com/kubernetes-release/release/v{{version}}/bin/linux/{{goarch}}/kubectl
  script:
    - mv kubectl {{src}}/usr/bin/

- name: kubectl
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.24.0
      - 1.24.1
      - 1.24.2
      - 1.24.3
      - 1.24.4
      - 1.25.0
      - 1.25.1
      - 1.25.2
      - 1.25.3
      - 1.25.4
      - 1.25.5
      - 1.26.0
      - 1.26.1
      - 1.26.2
      - 1.26.3
      - 1.27.0
      - 1.27.1
      - 1.27.2
      - 1.27.3
      - 1.27.4
      - 1.28.0
      - 1.28.1
      - 1.28.2
      - 1.28.3
      - 1.28.4
      - 1.29.0
      - 1.29.1
      - 1.29.2
      - 1.29.3
      - 1.29.4
      - 1.30.0
      - 1.30.1
      - 1.30.2
      - 1.30.3
      - 1.31.0
  homepage: https://github.com/kubernetes/kubectl
  summary: command line client for controlling a Kubernetes cluster
  description: |-
    kubectl is a command line client for running commands against Kubernetes
    clusters.
  fetch: https://storage.googleapis.com/kubernetes-release/release/v{{version}}/bin/linux/{{goarch}}/kubectl
  install:
    - kubectl:/usr/bin/

- name: kubectl
  matrix:
    architectures:
      - amd64
      - arm64
      - armhf
    versions:
      - 1.31.1
  homepage: https://github.com/kubernetes/kubectl
  summary: command line client for controlling a Kubernetes cluster
  description: |-
    kubectl is a command line client for running commands against Kubernetes
    clusters.
  fetch: https://dl.k8s.io/release/v{{version}}/bin/linux/{{goarch}}/kubectl
  install:
    - kubectl:/usr/bin/
