name: argo
matrix:
  architectures:
    - amd64
    - arm64
  versions:
    - 3.5.0
    - 3.5.1
    - 3.5.2
    - 3.5.3
    - 3.5.4
    - 3.5.5
    - 3.5.6
    - 3.5.7
    - 3.5.8
    - 3.5.9
    - 3.5.10
    - 3.5.11
    - 3.5.12
    - 3.6.0
    - 3.6.1
    - 3.6.2
    - 3.6.3
    - 3.6.4
    - 3.6.5
    - 3.6.6
    - 3.6.7
    - 3.6.10
    - 3.7.0
homepage: https://argo-workflows.readthedocs.io
summary: Workflow Engine for Kubernetes
description: |-
  Argo Workflows is an open source container-native workflow engine for
  orchestrating parallel jobs on Kubernetes. Argo Workflows is implemented as a
  Kubernetes CRD (Custom Resource Definition).
fetch: https://github.com/argoproj/argo-workflows/releases/download/v{{version}}/argo-linux-{{arch}}.gz
install:
  - argo-linux-{{arch}}:/usr/bin/argo
